# {{ ansible_managed }}
# This script allows you to run Infinispan Server as a systemd service.
# Modify environment properties in this script as appropriate.
# Copy this script to the following location: /etc/systemd/system
# Activate with 'systemctl daemon-reload'
#               'systemctl start|enable {{ jdg.service.name }}'

[Unit]
Description={{ jdg.name }} {{ jdg_nodename }} service {{ '' if jdg_port_offset == 0 else ' with offset port ' + jdg_port_offset|string }}
After=network.target

[Service]
Environment="ISPN_PIDFILE=/run/{{ jdg.service.name }}-{{ jdg_nodename }}.pid"
ExecStart=/bin/sh -c '{{ jdg.home }}/bin/server.sh -c {{ jdg.config.name }} -b {{ jdg.bind_addr }} &'
Type=forking
TimeoutSec=30
PIDFile=/run/{{ jdg.service.name }}-{{ jdg_nodename }}.pid

[Install]
WantedBy=multi-user.target
