<!-- {{ ansible_managed }} -->
<infinispan
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:infinispan:config:{{ schema_version }} https://infinispan.org/schemas/infinispan-config-{{ schema_version }}.xsd
                            urn:infinispan:server:{{ schema_version }} https://infinispan.org/schemas/infinispan-server-{{ schema_version }}.xsd"
        xmlns="urn:infinispan:config:{{ schema_version }}"
        xmlns:server="urn:infinispan:server:{{ schema_version }}">

    <jgroups>
        <stack name="datagrid" extends="tcp">
{% if infinispan_jgroups_discovery == 'JDBC_PING' %}
            <!-- TCP local cluster with JDBCPING discovery -->
            <JDBC_PING  stack.combine="REPLACE" stack.position="MPING"
                connection_url="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].connection_url }}"
                connection_username="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_user }}"
                connection_password="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_password }}"
                connection_driver="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].driver_class }}"
                initialize_sql="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].initialize_sql }}"
                insert_single_sql="INSERT INTO JGROUPSPING (own_addr, cluster_name, ping_data) values (?, ?, ?)"
                delete_single_sql="DELETE FROM JGROUPSPING WHERE own_addr=? AND cluster_name=?"
                select_all_pingdata_sql="SELECT ping_data FROM JGROUPSPING WHERE cluster_name=?" />
            <pbcast.GMS join_timeout="30000" />
            <RSVP timeout="60000" resend_interval="500" ack_on_delivery="true" />
{% endif %}
{% if infinispan_jgroups_discovery == 'TCPPING' %}
            <!-- TCP local cluster with TCPPING discovery -->
            <TCPPING  stack.combine="REPLACE" stack.position="MPING" 
                  initial_hosts="{{ infinispan_cluster_nodes | map(attribute='inventory_host') | join (',') }}"
                  port_range="0" />
            <pbcast.GMS join_timeout="3000" />
{% endif %}
        </stack>
{% if infinispan_jgroups_relay %}
        <!-- TCP RELAY with JDBCPING discovery -->
        <stack name="datagridrelay" extends="tcp">
{% if infinispan_jgroups_discovery == 'JDBC_PING' %}
            <JDBC_PING  stack.combine="REPLACE" stack.position="MPING"
                connection_url="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].connection_url }}"
                connection_username="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_user }}"
                connection_password="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_password }}"
                connection_driver="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].driver_class }}"
                initialize_sql="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].initialize_sql }}"
                insert_single_sql="INSERT INTO JGROUPSPING (own_addr, cluster_name, ping_data) values (?, ?, ?)"
                delete_single_sql="DELETE FROM JGROUPSPING WHERE own_addr=? AND cluster_name=?"
                select_all_pingdata_sql="SELECT ping_data FROM JGROUPSPING WHERE cluster_name=?" />
{% endif %}
{% if infinispan_jgroups_discovery == 'TCPPING' %}
            <!-- TCP local cluster with TCPPING discovery -->
            <TCPPING  stack.combine="REPLACE" stack.position="MPING" 
                  initial_hosts="{{ infinispan_cluster_nodes | map(attribute='inventory_host') | join (',') }}"
                  port_range="1" />
            <pbcast.GMS join_timeout="3000" />
{% endif %}
        </stack>
        <!-- x-site declaration -->
        <stack name="xsite" extends="datagrid">
            <relay.RELAY2 site="{{ infinispan_jgroups_relay_site }}" xmlns="urn:org:jgroups" max_site_masters="1000" can_become_site_master="true"
                can_forward_local_cluster="true" relay_multicasts="false" async_relay_creation="true" />
            <remote-sites default-stack="datagridrelay">
{% for site in infinispan_jgroups_relay_sites %}
                <remote-site name="{{ site }}"/>
{% endfor %}
            </remote-sites>
        </stack>
{% endif %}
    </jgroups>

    <cache-container name="default" statistics="true">
{% if infinispan_jgroups_relay %}
      <transport cluster="{{ infinispan_jgroups_relay_site }}" stack="xsite" node-name="{{ infinispan_nodename }}"  machine="{{ inventory_hostname }}" site="{{ infinispan_jgroups_relay_site }}"/>
{% else %}
      <transport cluster="datagrid" stack="datagrid" node-name="{{ infinispan_nodename }}" machine="{{ inventory_hostname }}"/>
{% endif %}
      <security>
        <authorization>
          <role name="{{ infinispan_supervisor.name }}" permissions="READ WRITE EXEC CREATE"/>
        </authorization>
      </security>
{% for cache in infinispan.static_caches %}{% if cache.cache_xml is defined %}
{{ cache.cache_xml|default('') }}
{% else %}
{{ lookup('template', 'templates/'+cache.cache_config.template+'-cache.j2', template_vars=cache)|replace('\n', '') }}
{% endif %}{% endfor %}
    </cache-container>

{% if infinispan_keycloak_cache.enabled %}
    <!-- keycloak caches -->
    <cache-container name="keycloak" statistics="true">
{% if infinispan_jgroups_relay %}
      <transport cluster="{{ infinispan_jgroups_relay_site }}" stack="xsite" node-name="{{ infinispan_nodename }}"  machine="{{ inventory_hostname }}" site="{{ infinispan_jgroups_relay_site }}"/>
      <replicated-cache name="work">
        <encoding media-type="application/x-jboss-marshalling"/>
        <transaction mode="NON_XA"/>
      </replicated-cache>
{% for keycloak_cache in infinispan_keycloak_cache.caches %}
      <distributed-cache name="{{ keycloak_cache }}" mode="SYNC" owners="2" xmlns:jdbc="urn:infinispan:config:store:jdbc:12.0">
        <encoding media-type="application/x-jboss-marshalling"/>
        <state-transfer timeout="60000"/>
        <transaction mode="NON_XA"/>
        <locking acquire-timeout="0" />
{% if infinispan_keycloak_persistence %}
        <persistence passivation="false">
           <jdbc:string-keyed-jdbc-store fetch-state="false" shared="true" preload="false">
               <jdbc:data-source jndi-url="jdbc/datasource"/>
               <jdbc:string-keyed-table drop-on-exit="false" create-on-start="true" prefix="DATAGRID">
                   <jdbc:id-column name="id" type="VARCHAR(255)"/>
                   <jdbc:data-column name="datum" type="VARBINARY(4000)"/>
                   <jdbc:timestamp-column name="version" type="BIGINT"/>
                   <jdbc:segment-column name="S" type="INT"/>
               </jdbc:string-keyed-table>
            </jdbc:string-keyed-jdbc-store>
        </persistence>
{% endif %}
        <backups>
{% for site in infinispan_jgroups_relay_sites %}
{% if site != infinispan_jgroups_relay_site %}            <backup site="{{ site }}" strategy="ASYNC"/>
{% endif %}
{% endfor %}
        </backups>
      </distributed-cache>
{% endfor %}
      <security>
        <authorization>
          <role name="{{ infinispan_supervisor.name }}" permissions="READ WRITE EXEC CREATE"/>
        </authorization>
      </security>
{% else %}
      <transport cluster="datagrid" stack="datagrid" node-name="{{ infinispan_nodename }}" machine="{{ inventory_hostname }}"/>
      <replicated-cache name="work">
        <encoding media-type="application/x-jboss-marshalling"/>
        <transaction mode="NON_XA"/>
      </replicated-cache>
{% for keycloak_cache in infinispan_keycloak_cache.caches %}
      <replicated-cache name="{{ keycloak_cache }}" mode="SYNC">
        <transaction mode="NONE" locking="PESSIMISTIC"/>
        <locking acquire-timeout="0" />
      </replicated-cache>
{% endfor %}
      <security>
        <authorization>
          <role name="{{ infinispan_supervisor.name }}" permissions="READ WRITE EXEC CREATE"/>
        </authorization>
      </security>
{% endif %}
    </cache-container>
{% endif %}
   <server xmlns="urn:infinispan:server:{{ schema_version }}">
      <interfaces>
         <interface name="public">
             <any-address/>
         </interface>
      </interfaces>

      <socket-bindings default-interface="public" port-offset="${infinispan.socket.binding.port-offset:0}">
         <socket-binding name="default" port="{{ infinispan.port }}"/>
         <socket-binding name="memcached" port="11221"/>
      </socket-bindings>

      <security>
         <credential-stores>
            <credential-store name="credentials" path="credentials.pfx">
               <clear-text-credential clear-text="secret"/>
            </credential-store>
         </credential-stores>
         <security-realms>
            <security-realm name="default">
{% if infinispan_default_realm_tls %}
               <server-identities>
                  <ssl>
                     <keystore path="{{ infinispan_keystore.path }}"
                               alias="{{ infinispan_keystore.alias }}"
                               keystore-password="{{ infinispan_keystore.password }}"
{% if infinispan_keystore.key_password|length > 0 %}                               key-password="{{ infinispan_keystore.key_password }}"
{% endif %}
                     />
                  </ssl>
               </server-identities>
{% endif %}
               <properties-realm groups-attribute="Roles">
                  <user-properties path="users.properties"/>
                  <group-properties path="groups.properties"/>
               </properties-realm>
            </security-realm>
         </security-realms>
      </security>
{% if infinispan_keycloak_persistence %}
      <data-sources>
        <data-source name="KeycloakDS" jndi-name="jdbc/datasource" statistics="true">
          <connection-factory driver="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].driver_class }}"
                              username="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_user }}"
                              password="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].db_password }}"
                              url="{{ infinispan_jgroups_jdbc[infinispan_jdbc_engine].connection_url }}"
                              new-connection-sql="SELECT 1" transaction-isolation="READ_COMMITTED">
          </connection-factory>
          <connection-pool initial-size="1" max-size="10"  min-size="3" background-validation="1000" idle-removal="1" blocking-timeout="1000" leak-detection="10000"/>
        </data-source>
      </data-sources>
{% endif %}

{% if (not data_grid_enable is defined and infinispan_version is version_compare('13.0.0', '<')) or (data_grid_enable is defined and data_grid_enable and (infinispan_version is version_compare('8.3.0', '<')) ) %}
      <endpoints socket-binding="default" security-realm="default">
{% else %}
      <endpoints>
        <endpoint socket-binding="default" security-realm="default">
{% endif %}
        <hotrod-connector name="hotrod"/>
        <rest-connector name="rest">
          <authentication mechanisms="DIGEST BASIC"/>
        </rest-connector>
{% if (not data_grid_enable is defined and infinispan_version is version_compare('13.0.0', '<')) or (data_grid_enable is defined and data_grid_enable and (infinispan_version is version_compare('8.3.0', '<')) ) %}
      </endpoints>
{% else %}
        </endpoint>
      </endpoints>
{% endif %}

   </server>
</infinispan>
