*.tar.gz
*.zip
.tmp
.cache
.vscode
docs/plugins/
docs/roles/
docs/_build/
.pytest_cache/
.mypy_cache/
*.retry
inventory
changelogs/.plugin-cache.yaml
changelogs/fragments/*.yml
changelogs/fragments/*.yaml
molecule/vector-search/test-app/target/
molecule/vector-search/files/*.jar
.ansible
