---
- name: "Create group {{ infinispan.group.name }}"
  ansible.builtin.group:
    name: "{{ infinispan.group.name }}"
    state: present
    gid: "{{ infinispan.group.id | default(omit) }}"
  become: yes

- name: "Create user {{ infinispan.user.name }}"
  ansible.builtin.user:
    name: "{{ infinispan.user.name }}"
    state: present
    uid: "{{ infinispan.user.id | default(omit) }}"
  become: yes

- name: "Create download directory"
  ansible.builtin.file:
    path: "{{ infinispan_app_download_dir }}"
    state: directory
    owner: "{{ infinispan.user.name }}"
    group: "{{ infinispan.group.name }}"
    mode: 0750
  become: yes

## check remote archive
- name: Set download archive path
  ansible.builtin.set_fact:
    archive: "{{ infinispan_app_download_dir }}/{{ infinispan.bundle }}"

- name: Check download archive path
  ansible.builtin.stat:
    path: "{{ archive }}"
  register: archive_path
  become: yes

- name: Check local download archive path
  ansible.builtin.stat:
    path: "{{ lookup('env', 'PWD') }}"
  register: local_path
  delegate_to: localhost

## download to controller
- name: Download infinispan archive
  ansible.builtin.get_url: # noqa risky-file-permissions delegated, uses controller host user
    url: "{{ infinispan_download_url }}"
    dest: "{{ local_path.stat.path }}/{{ infinispan.bundle }}"
    mode: 0644
  delegate_to: localhost
  when:
    - archive_path is defined
    - archive_path.stat is defined
    - not archive_path.stat.exists
    - data_grid_enable is not defined or not data_grid_enable
    - not infinispan_offline_install

- name: Download Red Hat Data Grid from RHN using JBoss Network API
  delegate_to: localhost
  run_once: yes
  when:
    - archive_path is defined
    - archive_path.stat is defined
    - not archive_path.stat.exists
    - data_grid_enable is defined and data_grid_enable
    - not data_grid_offline_install
    - rhn_username is defined and rhn_password is defined
  block:
    - name: Retrieve product download using JBoss Network API
      middleware_automation.common.product_search:
        client_id: "{{ rhn_username }}"
        client_secret: "{{ rhn_password }}"
        product_type: DISTRIBUTION
        product_version: "{{ data_grid_version }}"
        product_category: "{{ data_grid_product_category }}"
      register: rhn_products
      delegate_to: localhost
      run_once: yes

    - name: Determine install zipfile from search results
      ansible.builtin.set_fact:
        rhn_filtered_products: "{{ rhn_products.results | selectattr('file_path', 'match', '.*/redhat-datagrid-' + data_grid_version + '-server.zip') }}"
      delegate_to: localhost
      run_once: yes

    - name: Download Data Grid
      middleware_automation.common.product_download:
        client_id: "{{ rhn_username }}"
        client_secret: "{{ rhn_password }}"
        product_id: "{{ (rhn_filtered_products | first).id }}"
        dest: "{{ local_path.stat.path }}/{{ infinispan.bundle }}"
      no_log: "{{ omit_rhn_output | default(true) }}"
      delegate_to: localhost
      run_once: yes

- name: Download Data Grid archive from alternate location
  ansible.builtin.get_url: # noqa risky-file-permissions delegated, uses controller host user
    url: "{{ infinispan_download_url }}"
    dest: "{{ local_path.stat.path }}/{{ infinispan.bundle }}"
    mode: 0644
  delegate_to: localhost
  when:
    - jdg_download_url is defined and jdg_download_url | length > 0
    - archive_path is defined
    - archive_path.stat is defined
    - not archive_path.stat.exists
    - data_grid_enable is defined and data_grid_enable
    - not infinispan_offline_install
    - not data_grid_rhn_url is defined or not data_grid_rhn_url in infinispan_download_url
    - rhn_username is not defined

- name: Check downloaded archive
  ansible.builtin.stat:
    path: "{{ local_path.stat.path }}/{{ infinispan.bundle }}"
  register: local_archive_path
  delegate_to: localhost

## copy and unpack
- name: Copy archive to target nodes
  ansible.builtin.copy:
    src: "{{ local_path.stat.path }}/{{ infinispan.bundle }}"
    dest: "{{ archive }}"
    owner: "{{ infinispan.user.name }}"
    group: "{{ infinispan.group.name }}"
    mode: 0640
  register: new_version_downloaded
  when:
    - local_archive_path.stat is defined
    - local_archive_path.stat.exists
  become: yes

- name: "Check target directory: {{ infinispan.installation_path }}"
  ansible.builtin.stat:
    path: "{{ infinispan.installation_path }}/bin"
  register: path_to_workdir
  become: yes

- name: "Create target directory {{ infinispan.installation_path | dirname }}"
  ansible.builtin.file:
    state: directory
    path: "{{ infinispan.installation_path | dirname }}"
    owner: "{{ infinispan.user.name }}"
    group: "{{ infinispan.group.name }}"
    mode: 0750
  become: yes

- name: "Extract {{ infinispan.name }} archive on target {{ infinispan.installation_path }}"
  ansible.builtin.unarchive:
    remote_src: yes
    src: "{{ archive }}"
    dest: "{{ infinispan.installation_path | dirname | dirname }}"
    creates: "{{ infinispan.installation_path }}/bin"
    owner: "{{ infinispan.user.name }}"
    group: "{{ infinispan.group.name }}"
  become: yes
  when:
    - new_version_downloaded.changed or not path_to_workdir.stat.exists
  notify:
    - restart infinispan

- name: Inform decompression was not executed
  ansible.builtin.debug:
    msg: "{{ infinispan.installation_path }} already exists and version unchanged, skipping decompression"
  when:
    - not new_version_downloaded.changed and path_to_workdir.stat.exists

- name: "Reown installation directory to {{ infinispan.user.name }}"
  ansible.builtin.file:
    path: "{{ infinispan.home }}"
    owner: "{{ infinispan.user.name }}"
    group: "{{ infinispan.group.name }}"
    recurse: true
  become: yes
  changed_when: false
