---
- name: Validate parameters
  assert:
    that:
      - jdg is defined
      - jdg.home is defined
      - jdg.user is defined
      - jdg.user.name is defined
      - jdg.group is defined
      - jdg.group.name is defined
      - jdg.version is defined
      - jdg.config is defined
      - jdg.config.name is defined
      - jdg.service.name is defined
      - supervisor_password is defined and supervisor_password|length > 0
    quiet: true

- name: Include prerequisite tasks
  include_tasks: prereqs.yml

- name: "Create group {{ jdg.group.name }}"
  group:
    name: "{{ jdg.group.name }}"
    state: present
    gid: "{{ jdg.group.id | default(omit) }}"

- name: "Create user {{ jdg.user.name }}"
  user:
    name: "{{ jdg.user.name }}"
    state: present
    uid: "{{ jdg.user.id | default(omit) }}"

- name: "Create download directory"
  file:
    path: "{{ jdg_app_download_dir }}"
    state: directory
    owner: "{{ jdg.user.name }}"
    group: "{{ jdg.group.name }}"
    mode: 0750

- name: Include install tasks
  include_tasks: tasks/install.yml

- name: Installation directory
  debug:
    msg: "{{ 'Red Hat Datagrid' if jdg_enable is defined else 'Infinispan' }} installed at path {{ jdg.home }}"

- name: Include systemd tasks
  include_tasks: tasks/systemd.yml

- name: "Ensures {{ jdg.service.name }} configuration is deployed: {{ jdg.config.name }}"
  template:
    src: "{{ jdg.config.template }}"
    dest: "{{ jdg.home }}/server/conf/{{ jdg.config.name }}"
    owner: "{{ jdg.user.name }}"
    group: "{{ jdg.group.name }}"
    mode: 0644
    backup: yes
  notify:
    - restart infinispan

- name: "Ensures {{ jdg.service.name }} log4j2 configuration is deployed"
  template:
    src: log4j2.xml.j2
    dest: "{{ jdg.home }}/server/conf/log4j2.xml"
    owner: "{{ jdg.user.name }}"
    group: "{{ jdg.group.name }}"
    mode: 0644
    backup: yes
  notify:
    - restart infinispan

- name: Download database driver jar to target
  get_url:
    url: "{{ jdg_jgroups_jdbc[jdg_jdbc_engine].driver_jar_url }}"
    dest: "{{ jdg.home }}/lib/{{ jdg_jgroups_jdbc[jdg_jdbc_engine].driver_jar_filename }}"
    owner: "{{ jdg.user.name }}"
    group: "{{ jdg.group.name }}"
    mode: 0644
  when:
    - jdg_jgroups_jdbcping

- name: Include users tasks
  include_tasks: jdg_user.yml
  vars:
    users: "{{ jdg.users }}"
  when:
    - jdg.users is defined
    - jdg.users | length > 0

- name: "Ensures {{ jdg.service.name }} service is running and enabled"
  systemd:
    name: "{{ jdg.service.name }}"
    state: started
    enabled: yes

- name: Link default logs directory
  file:
    state: link
    src: "{{ jdg.home }}/server/log"
    dest: /var/log/infinispan

- name: Flush handlers
  meta: flush_handlers

- name: "Wait for used port to be open"
  wait_for:
    port: "{{ jdg.port }}"
    delay: 0
  when:
    - jdg_healthcheck
    - jdg.port is defined

- name: Include tasks for keycloak remote caches
  include_tasks: keycloak.yml
  when:
    - jdg_keycloak_cache.enabled
