---
driver:
  name: docker

platforms:
  - name: instance-rhel10
    image: registry.access.redhat.com/ubi10/ubi-init:latest
    command: "/usr/sbin/init"
    pre_build_image: true
    privileged: true
    port_bindings:
      - ${PORT_BINDING:-8080}:8080
    published_ports:
      - 0.0.0.0:${PORT_BINDING:-8080}:8080/TCP

  - name: instance-rhel9
    image: registry.access.redhat.com/ubi9/ubi-init:latest
    command: "/usr/sbin/init"
    pre_build_image: true
    privileged: true
    port_bindings:
      - ${PORT_BINDING:-8081}:8080

  - name: instance-rhel8
    image: registry.access.redhat.com/ubi8/ubi-init:latest
    command: "/usr/sbin/init"
    pre_build_image: true
    privileged: true
    port_bindings:
      - ${PORT_BINDING:-8082}:8080

provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
    ssh_connection:
      pipelining: false
  inventory:
    host_vars:
      localhost:
        ansible_python_interpreter: "{{ ansible_playbook_python }}"
      instance-rhel8:
        ansible_python_interpreter: /usr/bin/python3.9
