---
- name: Playbook for infinispan Hosts
  hosts: all
  become: yes
  roles:
    - role: infinispan
      infinispan_supervisor_password: "remembertochangeme"
      infinispan_users: []
    - role: infinispan_cache
      infinispan_deployer_user: "supervisor"
      infinispan_deployer_password: "remembertochangeme"
      infinispan_cache_xml: >
        <local-cache name="testcache" statistics="true">
          <encoding media-type="application/x-protostream"/>
        </local-cache>